{% comment %}
  *
  * Accepts:
  * -card_product: product,
  * -card_product_metafields: product.custom.metafields,
  * -show_rating: section.settings.show_rating,
  * -section_id: section.id
  *
{% endcomment %}
<!-- Test Product Meta -->
<div class="text-red-600 hidden">
  {{ show_rating | json }}
  {{ card_product.url | json }}
  {{ card_product.featured_image | escape }}
  {{ card_product_metafields | json }}
  {{ section_id | json }}
</div>
<div class="bh-card-product w-full p-2">
  <div class="max-w-sm bg-gray-100 border p-5 border-gray-200 rounded-lg shadow hover:border-2 hover:bg-white">
    <a href="{{ card_product.url }}">
      {% if card_product.featured_image %}
        <div class="md:h-40">
          <img
            src="{{ card_product.featured_image | image_url: width: 750 }}"
            class="object-cover w-full h-full"
            sizes=""
            alt="{{ card_product.featured_image.alt | escape }}"
            width="{{ card_product.featured_image.width }}"
            height="{{ card_product.featured_image.height }}"
          >
        </div>
      {% else %}
        {{ 'product-5' | placeholder_svg_tag: 'w-full h-full object-cover bg-gray-100' }}
      {% endif %}

      <div class="pt-4">
        <h5 class="text-sm font-bold tracking-tight text-gray-700 uppercase">
          {{ 'company.name' | t }}
          {{ card_product.title }}
        </h5>

        {% if show_rating %}
          <div class="bh-card-product__rating">
            <code class="uppercase">@todo: show rating</code>
          </div>
        {% endif %}

        {% if card_product_metafields %}
          {% render 'card-product-metafields', metafields: card_product_metafields %}
        {% else %}
          <p class="text-sm">{{ card_product.description }}</p>
        {% endif %}
      </div>

      <p class="text-gray-700 font-semibold pt-4 hidden">
        {{ card_product.price | money }}
      </p>

      <div class="pt-4">
        <button
          type="button"
          class="flex uppercase font-semibold text-gray-700 hover:text-white bg-white border border-gray-600 hover:bg-gray-900 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2"
        >
          {{ 'general.learn_more' | t }}&nbsp;&nbsp;
          <span class="bh-icon fill-gray-500 hover:fill-white w-5 h-5"> {% render 'icon-arrow-forward' %} </span>&nbsp;
        </button>
      </div>
    </a>
  </div>
</div>
