<div role="status" class="pb-5 space-y-2 md:space-y-0 md:space-x-8 rtl:space-x-reverse md:flex md:items-center">
  <div class="bh-img">
    <div class="bh-img__image-box">
      <img src="{{ 'amp-m87-front-ebony.png' | asset_img_url: 'large' }}" class="bh-img__image" width="" height="192px">
    </div>
  </div>
  <div class="w-full">
    <h4>Pure Analog Excellence</h4>
    <p>
      100% Analog Design for Authentic Audio Experience
      {% comment %}
        All analog design means 100% analog
      {% endcomment %}
    </p>
  </div>
  <span class="sr-only">Loading...</span>
</div>

<div role="status" class="pb-5 space-y-2 md:space-y-0 md:space-x-8 rtl:space-x-reverse md:flex md:items-center">
  <div class="bh-img">
    <div class="bh-img__image-box">
      <img
        src="{{ 'amp-m87-back-ebony.png' | asset_img_url: 'large' }}"
        class="bh-img__image"
        width=""
        height="192px"
      >
      {% comment %} <img
        src="{{ 'mono-amp_zero-cross-talk.jpg' | asset_img_url: 'large' }}"
        class="bh-img__image"
        width=""
        height="192px"
      > {% endcomment %}
    </div>
  </div>
  <div class="w-full">
    <h4>Unmatched Precision</h4>
    <p>
      Dual Monoblock Design for Ultimate Channel Separation and Zero Crosstalk
      {% comment %}
        Dual Mono block design- think this is the one we missed - infinite channel separate/crosstalk
      {% endcomment %}
    </p>
  </div>
  <span class="sr-only">Loading...</span>
</div>

<div role="status" class="pb-5 space-y-2 md:space-y-0 md:space-x-8 rtl:space-x-reverse md:flex md:items-center">
  <div class="bh-img">
    <div class="bh-img__image-box" style="height: 160px; width: 240px;">
      <img
        src="{{ 'amp-m-heat-sink-bg.jpg' | asset_img_url: 'large' }}"
        class="bh-img__image"
        width="240"
        height="160"
      >
    </div>
  </div>
  <div class="w-full">
    <h4>Premium Performance</h4>
    <p>
      Japanese Silicon Class AB Output Stage with Dual 4 lb Heat Sinks for Enhanced Cooling and Durability
      {% comment %}
        Japanese silicon output class AB output stage including massive 4 lb heat sink per channel for lower temperature and longer life
      {% endcomment %}
    </p>
  </div>
  <span class="sr-only">Loading...</span>
</div>

<div role="status" class="pb-5 space-y-2 md:space-y-0 md:space-x-8 rtl:space-x-reverse md:flex md:items-center">
  <div class="bh-img">
    <div class="bh-img__image-box">
      <img
        src="{{ 'amp-solid-state-relay.png' | asset_img_url: 'large' }}"
        class="bh-img__image"
        width=""
        height="100%"
      >
      {% comment %} <img src="{{ 'mono-amp_solid-state-relay.jpg' | asset_img_url: 'large' }}" class="bh-img__image" width="" height="192px" /> {% endcomment %}
    </div>
  </div>
  <div class="w-full">
    <h4>Innovative Solid-State Relay Design</h4>
    <p>
      Unmatched Reliability and Lifelong Performance
      {% comment %}
        First of its kind 100% solid state relay design for ultra reliability and steady performance for its lifetime
      {% endcomment %}
    </p>
  </div>
  <span class="sr-only">Loading...</span>
</div>

<div role="status" class="pb-5 space-y-2 md:space-y-0 md:space-x-8 rtl:space-x-reverse md:flex md:items-center">
  <div class="bh-img">
    <div class="bh-img__image-box">
      <img
        src="{{ 'mono-amp_m87_filter-caps.png' | asset_img_url: 'large' }}"
        class="bh-img__image bh-image__black-and-white"
        width=""
        height="100%"
      >
      {% comment %} <img src="{{ 'mono-amp_power-supply.jpg' | asset_img_url: 'large' }}" class="bh-img__image" width="" height="192px" /> {% endcomment %}
    </div>
  </div>
  <div class="w-full">
    <h4>Unparalleled Power</h4>
    <p>
      Unregulated Brute Force Supply with Dual 33mF Filter Caps and 19 lb Transformer
      {% comment %}
        unregulated brute force power supply- Filter Caps 33mFx2 per channel for ultra low noise and power handling - including 19 lb transformer
      {% endcomment %}
    </p>
  </div>
  <span class="sr-only">Loading...</span>
</div>

<div role="status" class="pb-5 space-y-2 md:space-y-0 md:space-x-8 rtl:space-x-reverse md:flex md:items-center">
  <div class="bh-img">
    <div class="bh-img__image-box" style="height: 160px; width: 240px;">
      <img
        src="{{ 'test-amp-black_white.jpg' | asset_img_url: 'large' }}"
        class="bh-img__image"
        width="240px"
        height="160px"
      >
      {% comment %} <img src="{{ 'mono-amp_analog.png' | asset_img_url: 'large' }}" class="bh-img__image" width="" height="192px" /> {% endcomment %}
      {% comment %} <img src="{{ 'mono-amp_signal.png' | asset_img_url: 'large' }}" class="bh-img__image" width="" height="192px" /> {% endcomment %}
    </div>
  </div>
  <div class="w-full">
    <h4>Innovative Breakthrough</h4>
    <p>
      Newly Patented Small Signal Architecture Redefining Performance
      {% comment %}
        Newly patented small signal architecture
      {% endcomment %}
    </p>
  </div>
  <span class="sr-only">Loading...</span>
</div>

<div role="status" class="pb-5 space-y-2 md:space-y-0 md:space-x-8 rtl:space-x-reverse md:flex md:items-center">
  <div class="bh-img">
    <div class="bh-img__image-box bg-gray-100">
      <img
        src="{{ 'mono-amp_american-assembly.jpg' | asset_img_url: 'large' }}"
        class="bh-img__image bh-image__black-and-white"
        width=""
        height="192px"
      >
    </div>
  </div>
  <div class="w-full">
    <h4>American Craftsmanship</h4>
    <p>
      Premium Build Quality with 0.093 Thick PCB for Enhanced Thermal Performance
      {% comment %}
        Build quality - assembled in USA 0.093” thick PCB for better lower temperature
      {% endcomment %}
    </p>
  </div>
  <span class="sr-only">Loading...</span>
</div>