<div class="bh-tab__content__design">
  <div role="status" class="pb-5 space-y-2 md:space-y-0 md:space-x-8 rtl:space-x-reverse md:flex md:items-center">
    <div class="bh-img">
      <div class="bh-img__image-box">
        <img
          src="{{ 'amp-m87-front-ebony.png' | asset_img_url: 'large' }}"
          class="bh-img__image"
          width=""
          height="192px"
        >
      </div>
    </div>
    <div class="w-full">
      <h4>Pure Analog Excellence</h4>
      <p>100% Analog Design for Authentic Audio Experience</p>
    </div>
    <span class="sr-only">{{ 'accessibility.loading' | t }}</span>
  </div>
  <div role="status" class="pb-5 space-y-2 md:space-y-0 md:space-x-8 rtl:space-x-reverse md:flex md:items-center">
    <div class="bh-img">
      <div class="bh-img__image-box">
        <img
          src="{{ 'amp-m87-back-ebony.png' | asset_img_url: 'large' }}"
          class="bh-img__image"
          width=""
          height="192px"
        >
      </div>
    </div>
    <div class="w-full">
      <h4>Unmatched Precision</h4>
      <p>Dual Monoblock Design for Ultimate Channel Separation and Zero Crosstalk</p>
    </div>
    <span class="sr-only">{{ 'accessibility.loading' | t }}</span>
  </div>
  <div role="status" class="pb-5 space-y-2 md:space-y-0 md:space-x-8 rtl:space-x-reverse md:flex md:items-center">
    <div class="bh-img">
      <div class="bh-img__image-box" style="height: 160px; width: 240px;">
        <img
          src="{{ 'amp-m-heat-sink-bg.jpg' | asset_img_url: 'large' }}"
          class="bh-img__image"
          width="240"
          height="160"
        >
      </div>
    </div>
    <div class="w-full">
      <h4>Premium Performance</h4>
      <p>Japanese Silicon Class AB Output Stage with Dual 4 lb Heat Sinks for Enhanced Cooling and Durability</p>
    </div>
    <span class="sr-only">{{ 'accessibility.loading' | t }}</span>
  </div>
  <div role="status" class="pb-5 space-y-2 md:space-y-0 md:space-x-8 rtl:space-x-reverse md:flex md:items-center">
    <div class="bh-img">
      <div class="bh-img__image-box">
        <img
          src="{{ 'amp-solid-state-relay.png' | asset_img_url: 'large' }}"
          class="bh-img__image"
          width=""
          height="100%"
        >
      </div>
    </div>
    <div class="w-full">
      <h4>Innovative Solid-State Relay Design</h4>
      <p>Unmatched Reliability and Lifelong Performance</p>
    </div>
    <span class="sr-only">{{ 'accessibility.loading' | t }}</span>
  </div>
  <div role="status" class="pb-5 space-y-2 md:space-y-0 md:space-x-8 rtl:space-x-reverse md:flex md:items-center">
    <div class="bh-img">
      <div class="bh-img__image-box">
        <img
          src="{{ 'mono-amp_m87_filter-caps.png' | asset_img_url: 'large' }}"
          class="bh-img__image bh-image__black-and-white"
          width=""
          height="100%"
        >
        {% comment %} <img src="{{ 'mono-amp_power-supply.jpg' | asset_img_url: 'large' }}" class="bh-img__image" width="" height="192px" /> {% endcomment %}
      </div>
    </div>
    <div class="w-full">
      <h4>Unparalleled Power</h4>
      <p>Unregulated Brute Force Supply with Dual 33mF Filter Caps and 19 lb Transformer</p>
    </div>
    <span class="sr-only">{{ 'accessibility.loading' | t }}</span>
  </div>
  <div role="status" class="pb-5 space-y-2 md:space-y-0 md:space-x-8 rtl:space-x-reverse md:flex md:items-center">
    <div class="bh-img">
      <div class="bh-img__image-box" style="height: 160px; width: 240px;">
        <img
          src="{{ 'test-amp-black_white.jpg' | asset_img_url: 'large' }}"
          class="bh-img__image"
          width="240px"
          height="160px"
        >
      </div>
    </div>
    <div class="w-full">
      <h4>Innovative Breakthrough</h4>
      <p>Newly Patented Small Signal Architecture Redefining Performance</p>
    </div>
    <span class="sr-only">{{ 'accessibility.loading' | t }}</span>
  </div>
  <div role="status" class="pb-5 space-y-2 md:space-y-0 md:space-x-8 rtl:space-x-reverse md:flex md:items-center">
    <div class="bh-img">
      <div class="bh-img__image-box bg-gray-100">
        <img
          src="{{ 'mono-amp_american-assembly.jpg' | asset_img_url: 'large' }}"
          class="bh-img__image bh-image__black-and-white"
          width=""
          height="192px"
        >
      </div>
    </div>
    <div class="w-full">
      <h4>American Craftsmanship</h4>
      <p>Premium Build Quality with 0.093 Thick PCB for Enhanced Thermal Performance</p>
    </div>
    <span class="sr-only">{{ 'accessibility.loading' | t }}</span>
  </div>
</div>
