<!-- Swiper -->
<script src="{{ 'swiper.js' | asset_url }}" defer="defer"></script>
 <!-- Swiper -->
 <div class="swiper mySwiper" class="p-10">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <img src="{{ 'dual_monoblock_wooden_solid_state_amplifier.png' | asset_img_url: 'large' }}" width="" height="" />
    </div>
    <div class="swiper-slide">
      <img src="{{ 'monoblock_wooden_amp.png' | asset_img_url: 'large' }}" width="" height="" />
    </div>
    <div class="swiper-slide">
      <img src="{{ 'dual_monoblock_wooden_amplifier_analog.png' | asset_img_url: 'large' }}" width="" height="" />
      {% comment %} <img src="{{ 'mono-amp-speaker_gold-black-wide.png' | asset_img_url: 'large' }}" width="" height="" /> {% endcomment %}
    </div>
    <div class="swiper-slide">
      <img src="{{ 'mono-amp-speaker_gold-black-sp.png' | asset_img_url: 'large' }}" width="" height="" />
    </div>
  </div>
  <div class="swiper-pagination"></div>
</div>

