<!doctype html>
<html class="no-js full-height" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">

    {% if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {% endif %}

    <title>{{ shop.name }}</title>

    <meta name="description" content="{{ page_description | escape }}">

    {% render 'meta-tags' %}

    {{ content_for_header }}

    <!-- CSS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet">

    {{ 'output.css' | asset_url | stylesheet_tag }}
  </head>

  <body class="bh-body">
    <a class="bh-button hidden" href="#MainContent">
      {{ 'accessibility.skip_to_content' | t }}
    </a>

    <header class="bh-header">
      {% section 'main-password-header' %}
    </header>

    <main id="MainContent" class="bh-main">
      {{ content_for_layout }}
    </main>

    <footer class="bh-footer bh-footer--sticky">
      {% section 'main-password-footer' %}
    </footer>

    <ul hidden>
      <li id="bh-password__new-window-message">
        {{ 'accessibility.link_messages.new_window' | t }}
      </li>
    </ul>
  </body>
</html>
