<aside>
  <h2>{{ section.settings.title }}</h2>
  <div class="rounded-xl shadow-md overflow-hidden">
    <div class="md:flex">
      {% for block in section.blocks %}
        {% case block.type %}
          {% when 'about_image' %}
            <div class="md:shrink-0">
              {% if section.settings.about_image == blank %}
                <img src="{{ 'about-us_dallas.jpg' | asset_img_url: 'large' }}" class="w-full h-auto" width="" height="">
              {% else %}
                {% assign about_img = section.settings.about_image %}
                <img
                  class="w-full h-80 md:h-96 object-cover object-center"
                  src="{{section.settings.about_image | img_url: 'large'}}"
                  alt="{{ about_img.image.alt }}"
                  width=""
                  height=""
                >
              {% endif %}
            </div>
          {% when 'about_company' %}
            <div class="p-8">
              {% if section.settings.about_company == blank %}
                <p>
                Based in Dallas Texas, Black Hole Audio is a pioneering force in the home entertainment industry. Founded
                in 2023 by Jeff Julich, a former hardware engineer at Texas Instruments, our company is dedicated to
                crafting premium audio solutions for the modern home. Our flagship product, the M87 Amplifier, embodies
                our commitment to innovation and quality, offering consumers a transformative audio experience for their
                home theaters. With a focus on precision engineering and cutting-edge technology, Black Hole Audio is
                poised to redefine the way people enjoy sound in their living spaces
                </p>
              {% else %}
                <p>{{ section.settings.about_company }}</p>
              {% endif %}
            </div>
        {% endcase %}
      {% endfor %}
    </div>
  </div>
</aside>

{% schema %}
{
  "name": "Page About",
  "tag": "section",
  "class": "bh-main__page__section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "About",
      "label": "About Heading Title"
    }
  ],
  "blocks": [
    {
      "type": "about_image",
      "name": "Image",
      "limit": 1
    },
    {
      "type": "about_company",
      "name": "Company",
      "limit": 1
    }
  ]
}
{% endschema %}
