<div id="bh-footer__box" class="">
  {% if section.settings.newsletter_enable %}
    <div class="bh-footer__newsletter bg-gray-400 w-full p-8 text-center">
      {% render 'form-newsletter' %}
    </div>
  {% endif %}

  <div class="bh-footer__nav--left flex justify-between items-center pt-6">
    <!-- Menu -->
    <nav class="bh-menu bh-menu--footer w-full">
      <ul class="bh-menu__list">
        {% for link in linklists['main-menu'].links %}
          <li class="bh-menu__list__item">
            <a href="{{ link.url }}">{{ link.title }}</a>
          </li>
        {% endfor %}
          <li class="bh-menu__list__item">
            <a href="/blogs/amp-performance/">Performance</a>
          </li>
      </ul>
    </nav>

    <!-- Logo -->
    <div class="bh-logo bh-logo--footer">
      <a href="{{ routes.root_url }}">
        <span class="sr-only">{{ shop.name }}</span>
        <span class="">{% render 'logo-bh-footer' %}</span>
      </a>
    </div>

    <!-- Menu -->
    <nav class="bh-footer__nav--right bh-menu bh-menu--footer">
      <ul class="bh-menu__list">
        {% for link in linklists['header-right-menu'].links %}
          <li class="bh-menu__list__item">
            <a href="{{ link.url }}">{{ link.title }}</a>
          </li>
        {% endfor %}
          <li class="bh-menu__list__item">
            <a href="/blogs/news/">news</a>
          </li>
      </ul>
    </nav>
  </div>

  <div class="mt-2 text-center text-xs">
    {% if section.settings.brand_headline_enable %}
      {% if section.settings.brand_headline != blank %}
        <h3 class="font-semibold text-gray-400">
          {{ section.settings.brand_headline }}
        </h3>
      {% endif %}
    {% endif %}

    {% comment %} {{ section.settings.show_social | json }} {% endcomment %}
    {% if section.settings.show_social %}
      {% render 'social-links', is_menu: true %}
    {% endif %}

    {% if section.settings.show_policy %}
      <nav class="bh-menu bh-menu--footer-legal">
        <ul class="bh-menu__list bh-menu__list--inline">
          <li class="bh-menu__list__item mx-1">
            <a class="underline" href="">
              {{ 'sections.footer.policies.terms' | t }}
            </a>
          </li>
          <li class="bh-menu__list__item mx-1">
            <a class="underline" href="">
              {{ 'sections.footer.policies.privacy' | t }}
            </a>
          </li>
          <li class="bh-menu__list__item mx-1">
            <a class="underline" href="">
              {{ 'sections.footer.policies.refund' | t }}
            </a>
          </li>
        </ul>
      </nav>
    {% endif %}

    <p class="text-gray-400 text-xs">
      © {{ 'sections.footer.copyright' | t }}
    </p>
  </div>
</div>

{% schema %}
{
  "name": "Footer",
  "settings": [
    {
      "type": "checkbox",
      "id": "brand_headline_enable",
      "default": true,
      "label": "Show brand headline"
    },
    {
      "type": "inline_richtext",
      "id": "brand_headline",
      "default": "Hear What's on the Horizon",
      "label": "Heading"
    },
    {
      "type": "checkbox",
      "id": "newsletter_enable",
      "default": true,
      "label": "Show email signup"
    },
    {
      "type": "inline_richtext",
      "id": "newsletter_heading",
      "default": "Get the Latest News & Offers",
      "label": "Heading"
    },
    {
      "type": "checkbox",
      "id": "show_social",
      "default": true,
      "label": "Show social media links"
    },
    {
      "type": "checkbox",
      "default": true,
      "id": "show_policy",
      "label": "Show policy links"
    }
  ]
}
{% endschema %}
