<div id="bh-footer__box" class="bh-footer__box">
  
  <!-- Menu -->
  <nav class="bh-menu bh-menu--footer">
    <ul class="bh-menu__list">
      {% for link in linklists.main-menu.links %}
        <li class="bh-menu__list__item">
          <a href="{{ link.url }}">{{ link.title }}</a>
        </li>
      {%  endfor %}
    </ul>
  </nav>

  <!-- Logo -->
  <div class="bh-logo bh-logo--footer">
    <div class="bh-logo__box">
      <a href="{{ routes.root_url }}" >
        <span class="sr-only">{{ shop.name }}</span>
        {% render 'logo-bh-footer' %}
      </a>
    </div>
  </div>

  <!-- Menu -->
  <nav class="bh-menu bh-menu--footer">
    <ul class="bh-menu__list">
      {% for link in linklists.header-right-menu.links %}
        <li class="bh-menu__list__item">
          <a href="{{ link.url }}">{{ link.title }}</a>
        </li>
      {% endfor %}
    </ul>
  </nav>
</div>
