<div id="bh-footer__box" class="bh-footer-color--{{ section.settings.color_scheme }}">
  {% if section.settings.newsletter_enable %}
    <div class="bh-footer__newsletter bg-gray-400 w-full p-8 text-center">
      {% render 'form-newsletter' %}
    </div>
  {% endif %}

  <div class="flex justify-between pt-6">
    <!-- Main Menu, Left -->
    <div class="bh-footer__main-menu w-full">
      {% render 'menu-nav-footer', menu_class: 'bh-menu--footer', menu_handle: 'main-menu' %}
    </div>

    <!-- Logo -->
    <div class="bh-footer__logo flex items-center align-middle">
      <div class="bh-logo bh-logo--footer">
        <a href="{{ routes.root_url }}">
          <span class="sr-only">{{ shop.name }}</span>
          <span class="">
            {% render 'logo-bh-no-color' %}
          </span>
        </a>
      </div>
    </div>

    <!-- Menu Right, Company -->
    <div class="bh-footer__menu-right w-full">
      {% render 'menu-nav-footer', menu_class: 'bh-menu--footer', menu_handle: 'menu-right' %}
    </div>
  </div>

  <div class="mt-2 text-center text-xs">
    {% if section.settings.brand_headline_enable %}
      {% if section.settings.brand_headline != blank %}
        <h3 class="font-semibold text-gray-400">
          {{ section.settings.brand_headline }}
        </h3>
      {% endif %}
    {% endif %}

    {% comment %} {{ section.settings.show_social | json }} {% endcomment %}
    {% if section.settings.show_social %}
      {% render 'social-links', is_menu: true %}
    {% endif %}

    {% if section.settings.show_policy %}
      <nav class="bh-menu bh-menu--footer-legal">
        <ul class="bh-menu__list bh-menu__list--inline">
          <li class="bh-menu__list__item mx-1">
            <a class="underline" href="">
              {{ 'sections.footer.policies.terms' | t }}
            </a>
          </li>
          <li class="bh-menu__list__item mx-1">
            <a class="underline" href="">
              {{ 'sections.footer.policies.privacy' | t }}
            </a>
          </li>
          <li class="bh-menu__list__item mx-1">
            <a class="underline" href="">
              {{ 'sections.footer.policies.refund' | t }}
            </a>
          </li>
        </ul>
      </nav>
    {% endif %}

    <p class="text-gray-400 text-xs">
      © {{ 'sections.footer.copyright' | t }}
    </p>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.footer.name",
  "blocks": [
    {
      "type": "@app"
    }
  ],
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme",
      "default": "scheme-2"
    },
    {
      "type": "checkbox",
      "id": "brand_headline_enable",
      "default": true,
      "label": "Show brand headline"
    },
    {
      "type": "inline_richtext",
      "id": "brand_headline",
      "default": "Hear What's on the Horizon",
      "label": "Heading"
    },
    {
      "type": "checkbox",
      "id": "newsletter_enable",
      "default": true,
      "label": "Show email signup"
    },
    {
      "type": "inline_richtext",
      "id": "newsletter_heading",
      "default": "Get the Latest News & Offers",
      "label": "Heading"
    },
    {
      "type": "checkbox",
      "id": "show_social",
      "default": true,
      "label": "Show social media links"
    },
    {
      "type": "checkbox",
      "default": true,
      "id": "show_policy",
      "label": "Show policy links"
    }
  ]
}
{% endschema %}
