<link rel="stylesheet" href="{{ 'header-drawer.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'header-drawer.css' | asset_url | stylesheet_tag }}</noscript>
<script>

  function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
  }

  function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
  }
</script>

<style>

</style>

<div id="bh-header__box" class="flex justify-evenly items-center">
  {% render 'header-drawer' %}

  <div class="md:hidden">
    <a href="#" onclick="openNav()">
      <div class="bh-icon bh-icon--white p-3 cursor-pointer">{% render 'icon-menu' %}</div>
    </a>
  </div>

  <!-- Menu Yo -->
  <div>
    <nav class="bh-menu bh-menu--header flex md:items-center md:justify-center w-full">
      <ul class="bh-menu__list bh-menu__list--inline">
        {% for link in linklists['main-menu'].links %}
          <li class="bh-menu__list__item hidden md:flex">
            <a href="{{ link.url }}">{{ link.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </nav>
  </div>
  


  <!-- Logo -->
  <div class="">
    <div class="bh-logo bh-logo--header">
      <a href="{{ routes.root_url }}">
        <span class="sr-only">{{ shop.name }}</span>
        <div class="w-auto flex align-middle justify-between">
          <img src="{{ 'bh-logo-small.png' | asset_img_url: 'large' }}" style="max-width: none!important" width="auto" height="45px">
        </div>
      </a>
    </div>
  </div>

  <!-- Menu, Cart -->
  <div>
    <nav class="bh-menu bh-menu--header justify-end md:items-center md:justify-center w-full">
      <ul class="bh-menu__list bh-menu__list--inline">
        {% for link in linklists['header-right-menu'].links %}
          <li class="bh-menu__list__item hidden md:flex">
            <a href="{{ link.url }}">{{ link.title }}</a>
          </li>
        {% endfor %}
        <li class="bh-menu__list__item">
          <a href="{{ routes.cart_url }}">
            <span class="bh-icon bh-icon--white h-full">
              {% render 'icon-shopping-cart' %}
            </span>
          </a>
        </li>
      </ul>
    </nav>
  </div>

</div>
