<script type="module" src="{{ 'cart.js' | asset_url }}" defer="defer"></script>
<script type="module" src="{{ 'quantity.js' | asset_url }}" defer="defer"></script>
<script type="module" src="{{ 'variant.js' | asset_url }}" defer="defer"></script>
<script type="module">
  import { utils, product } from '../assets/utils.js'

  utils.logLiquidPage('MainCartItems');

  const routes = '{{ routes | escape }}';

  console.log('routes', routes);

  if (product && product.variants) {
    const _product = {{ product | json }};
    const _productVariants = {{ product.variants | json }};

    product.setProduct(_product);
    product.setVariants(_productVariants);
  }
</script>

{% if cart.item_count > 0 %}
  <div class="p-4">
    <div class="max-w-6xl flex- flex-col my-10 mx-auto">
      <div class="flex-1">
        <div class="flex items-end justify-between my-5">
          <h2>{{ 'sections.cart.title' | t }}</h2>
          <a href="/products/m87-amplifier" class="text-red-600 hover:text-red-700 underline hover:no-underline font-semibold">
            {{ 'general.continue_shopping' | t }}
          </a>
        </div>
      </div>
    </div>

    <div class="max-w-6xl flex flex-col my-10 mx-auto">
      <form action="{{ routes.cart_url }}" method="POST" novalidate>
        <table class="table-auto divide-y divide-gray-200 my-4 w-full">
          <thead>
            <th class="px-5 py-3 text-left text-sm font-medium text-gray-500">
              {{ 'sections.cart.headings.product' | t }}
            </th>
            <th class="px-5 py-3 text-left text-sm font-medium text-gray-500">
              {{ 'sections.cart.headings.quantity' | t }}
            </th>
            <th class="px-5 py-3 text-left text-sm font-medium text-gray-500">
              {{ 'sections.cart.headings.total' | t }}
            </th>
          </thead>
          <tbody>
            {% for item in cart.items %}
              <tr class="table-row">
                <td class="py-4 px-2 flex flex-col justify-center">
                  <a href="{{ item.url }}">
                    {% if item.image %}
                      <img
                        src="{{ item.image | image_url: width: 300 }}"
                        class="object-cover border"
                        alt="{{ item.image.alt | escape }}"
                        loading="lazy"
                        width="150"
                        height="{{ 150 | divided_by: item.image.aspect_ratio | ceil }}"
                      >
                    {% else %}
                      {{ 'product-1' | placeholder_svg_tag: 'w-32 h-32 object-cover border' }}
                    {% endif %}
                  </a>
                </td>
                <td class="py-4 px-2 flex flex-col justify-center">
                  <a href="{{ item.url }}" class="my-1">
                    {{ item.product.title | truncatewords: 5 }}
                  </a>
                  <span class="text-sm text-gray-500 my-1">
                    {{ item.variant.title }}
                  </span>

                  <a class="text-white w-32 focus:outline-none font-medium text-sm px-5 py-2.5 text-center inline-flex items-center me-2 bg-black" href="{{ routes.cart_change_url }}?line={{ forloop.index }}&quantity=0">
                    <span class="bh-icon bh-icon--white h-4 w-4">
                      {% render 'icon-delete' %}
                    </span>
                    <span class="no-underline uppercase text-sm">
                      {{ 'sections.cart.remove' | t }}
                    </span>
                  </a>
                </td>
                <td class="py-4 px-2">
                  <input
                    type="number"
                    name="updates[]"
                    id="updates_{{ forloop.index }}"
                    value="{{ item.quantity }}"
                    min="0"
                    class="w-20 border p-2"
                  >
                </td>
                <td class="py-4 px-2">
                  {{ item.line_price | money }}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        <div class="flex flex-col md:flex-row items-center justify-between">
          <div class="w-full my-4">
            <div class="flex flex-col items-start">
              <!--Add optional textarea? -->
            </div>
          </div>

          <div class="w-full my-4 md:w-72">
            <h3>
              {{ 'sections.cart.subtotal' | t }}: {{ cart.total_price | money }}
            </h3>

            <small class="tax-note caption-large rte">
              {% if cart.taxes_included and shop.shipping_policy.body != blank %}
                {{ 'sections.cart.taxes_included_and_shipping_policy_html' | t: link: shop.shipping_policy.url }}
              {% elsif cart.taxes_included %}
                {{ 'sections.cart.taxes_included_but_shipping_at_checkout' | t }}
              {% elsif shop.shipping_policy.body != blank %}
                {{ 'sections.cart.taxes_and_shipping_policy_at_checkout_html' | t: link: shop.shipping_policy.url }}
              {% else %}
                {{ 'sections.cart.taxes_and_shipping_at_checkout' | t }}
              {% endif %}
            </small>
            
            <div class="my-2">
              <button type="submit" name="update" class="bh-button bh-button--md bh-button--white w-full">
                {{ 'sections.cart.update' | t }}
              </button>
            </div>

            <div class="my-2">
              <button type="submit" name="checkout" class="bh-button bh-button--md bh-button--black w-full">
                {{ 'sections.cart.checkout' | t }}
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
{% else %}
  <div class="max-w-6xl h-60 my-4 mx-auto flex flex-col items-center justify-center">
    <div class="text-center">
      <h3 class="text-3xl my-4">
        {{ 'sections.cart.title' | t }}
      </h3>
      <p>
        {{ 'sections.cart.your_cart_is_empty' | t }}
      </p>
      <div class="my-4 py-4">
        <a href="/products/m87-amplifier" class="flex text-sm text-white uppercase bg-gray-800 px-8 py-2 hover:text-gray-100 hover:bg-black cursor-pointer">
          {{ 'general.continue_shopping' | t }}&nbsp;&nbsp;
          <span class="bh-icon fill-white w-5 h-5">
            {% render 'icon-arrow-forward' %}
          </span>&nbsp;
        </a>
      </div>
    </div>
  </div>
{% endif %}

{% schema %}
{
  "name": "Main Cart Items",
  "tag": "section",
  "class": "bh-main__page__section",
  "settings": []
}
{% endschema %}
