<!-- Scripts -->
<script type="module" src="{{ 'ProductForm.js' | asset_url }}" defer="defer"></script>
<script type="module" src="{{ 'ProductModal.js' | asset_url }}" defer="defer"></script>
<script type="module" src="{{ 'ProductPage.js' | asset_url }}" defer="defer"></script>
<script type="module" src="{{ 'ViewMore.js' | asset_url }}" defer="defer"></script>

{% unless product == empty %}
  <!-- bh-json__product- -->
  <script type="application/json" id="bh-json__product__{{ section.id }}">
    {{ product| json }}
  </script>

  <!-- bh-json__product-media- -->
  <script type="application/json" id="bh-json__product-media__{{ section.id }}">
    {{ product.media | where: 'media_type', 'model' | json }}
  </script>
{% endunless %}

<style>
  .bh-product #bh-product-details__question-card {
    display: none;
  }

  .bh-product #bh-full-description {
    display: none;
  }
</style>

<!-- Liquid Vars -->
{% assign is_product_carousel = false %}
{% assign is_product_carousel_ready = true %}
{% assign is_product_lightbox = false %}
{% assign is_product_tabs = false %}

{% assign product_variant_selected = product.selected_or_first_available_variant %}
{% assign product_metafields = product.metafields.custom %}

{% liquid
  if product.selected_or_first_available_variant.featured_media
    assign seo_media = product.selected_or_first_available_variant.featured_media
  else
    assign seo_media = product.featured_media
  endif
%}

<code class="text-green-600 hidden">
  {{ seo_media | json }}
</code>

{% liquid
  if product.handle == 'm87-amplifier'
    assign is_product_tabs = true
  endif
%}
<aside class="bh-product bg-gray-300 px-5 pt-3 pb-5 md:pt-5 md:pb-8">
  <div class="text-green-500 hidden">
    <code>metafields product.metafields.custom</code> :
    <pre>{{ product.metafields.custom | json }}</pre>
  </div>
  <div class="text-green-500 hidden">
    <code>metaobjects product product_details</code>:
    <pre>{{ product.product_details | json }}</pre>
  </div>

  <!-- Breadcrumbs -->
  {% if section.settings.show_product_breadcrumbs %}
    <div class="bh-product__box bh-box--non-full mb-2">
      <nav class="flex" aria-label="Breadcrumb">
        <ol class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse">
          <li>
            <div class="flex items-center">
              <a href="{{ routes.root_url }}" class="ms-1 text-sm font-medium text-gray-700">
                {{ 'general.home' | t }}
              </a>
            </div>
          </li>
          <li>
            <div class="flex items-center">
              {% render 'icon-nav-arrow' %}

              <a
                href="{{routes.collections_url}}/{{ product.collections.first.handle }}"
                class="ms-1 text-sm font-medium text-gray-700"
              >
                {{ 'bha.amplifiers' | t | capitalize }}
              </a>
            </div>
          </li>
          <li aria-current="page">
            <div class="flex items-center">
              {% render 'icon-nav-arrow' %}
              <span class="ms-1 text-sm font-medium text-gray-400">
                {% comment %} <span class="md:block">{{ page_title }}</span> {% endcomment %}
                <span class="text-xs md:text-sm">{{ page_title | truncate: 21 }}</span>
              </span>
            </div>
          </li>
        </ol>
      </nav>
    </div>
  {% endif %}

  <!-- Product -->
  <div
    id="bh-product"
    class="bh-box--non-full flex flex-col md:flex-row space-y-4 md:space-x-4 md:space-y-0"
    data-section="{{ section.id }}"
    data-url="{{ product.url }}"
  >
    <div class="md:w-3/5 bg-gray-300">
      <div id="bh-product__img" class="bh-product__img w-full">
        {% if product.variants.size > 1 and product.images.size > 0 %}
          <!-- Is Product Variants -->
          {% assign is_product_lightbox = true %}
          {% render 'button-zoom', container_class: 'relative' %}

          {% if product.variants.size > 1 %}
            {% assign is_product_carousel = true %}
            {% assign current_variant_id = product.selected_variant.id %}
            {% assign current_variant_image_src = product.featured_image %}
            {% assign variant_images = product.images | where: 'attached_to_variant?', true | map: 'src' %}
            {% assign non_variant_images = product.images | where: 'attached_to_variant?', false | map: 'src' %}
            {% assign combined_variant_images = current_variant_image_src | concat: non_variant_images %}
            <pre class="text-green-600 hidden">
              current_variant_id: {{ current_variant_id | json }}
              current_variant_image_src: {{ current_variant_image_src | json }}
              variant_images: {{ variant_images }}
              non_variant_images: {{ non_variant_images }}
              combined_variant_images: {{ combined_variant_images }}
            </pre>

            {% if is_product_carousel_ready %}
              {% render 'carousel',
                product_variants: combined_variant_images,
                carousel_id: 'bh-carousel__product',
                carousel_item_id: 'bh-carousel__product__item-',
                carousel_indicator_id: 'bh-carousel__product__indicator-'
              %}
            {% endif %}

          {% else %}
            <p class="text-red-600">This product has variants, but no images.</p>
            <img
              class="h-auto object-contain"
              src="//cdn.shopify.com/s/assets/admin/no-image-medium-cc9732cb976dd349a0df1d39816fbcc7.gif"
              alt="{{ product.title }}"
              width=""
              height=""
            >
          {% endif %}

        {% elsif product.images.size > 0 %}
          <!-- Product has images but no variants -->
          {% if product.images.size > 1 %}
            {% assign is_product_lightbox = true %}
            {% comment %} {% assign is_product_tabs = false %} {% endcomment %}
            {% render 'button-zoom', container_class: 'relative' %}

            {% assign is_product_carousel = true %}
            {% render 'carousel',
              product_media: product.media,
              carousel_id: 'bh-carousel__product',
              carousel_item_id: 'bh-carousel__product__item-',
              carousel_indicator_id: 'bh-carousel__product__indicator-'
            %}
          {% else %}
            <!-- Product has a single image -->
            {% assign is_product_lightbox = true %}
            <p class="text-green-600 hidden">product.images.size: 0</p>
            {% render 'button-zoom', container_class: 'relative' %}
            <img
              class="h-auto object-contain"
              src="{{ product.images.first.src | image_url }}"
              alt="{{ product.title }}"
              width="100%"
              height=" "
            >
          {% endif %}

        {% else %}
          <!-- No Variant or Product Images -->
          <p class="text-red-600 hidden">This product has no variants and no images.</p>
          <img
            src="//cdn.shopify.com/s/assets/admin/no-image-medium-cc9732cb976dd349a0df1d39816fbcc7.gif"
            alt="{{ product.title }}"
            width="100%"
            height=" "
          >
        {% endif %}
      </div>
    </div>
    <div class="md:w-2/5 bg-white border border-gray-200 rounded-lg shadow p-4">
      <bh-product-form
        class="bh-product-form"
        data-hide-errors="{{ false }}"
        data-section-id="{{ section.id }}"
      >
        <!-- Error -->
        <div
          class="bh-product-form__error-message-wrapper p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50"
          role="alert"
          hidden
        >
          <span class="bh-icon bh-icon--danger">
            {% render 'icon-error' %}
          </span>
          <span class="bh-product-form__error-message ml-2"></span>
        </div>

        <!-- New -->
        {% form 'product', product, data-product-form: '' %}
          <!--
            This is important in order for quantity to add to cart; i.e.,
            This is the input hidden field with value set to variant Id
          -->
          <input
            type="hidden"
            name="id"
            class="bh-product-variant-id h-10"
            value="{{ product_variant_selected.id }}"
            {% if product_variant_selected.available == false %}
              disabled
            {% endif %}
          >
          <!-- Test -->
          <div class="text-green-600 hidden">product_variant_selected_id: {{ product_variant_selected.id | json }}</div>

          <!-- Product Title -->
          <div class="">
            <h3 class="">{{ product.title }}</h3>
          </div>

          <!-- Product Price -->
          {% render 'product-price', product: product, variant: product_variant_selected %}

          <!-- Product Variant Options -->
          {% render 'product-variant-options' %}

          <!-- Quantity, Add to Cart -->
          <div class="flex flex-row w-full space-x-2 space-y-2 pb-3">
            <div class="{% if product_variant_selected.available == false %}hidden{% endif %}">
              <label class="sr-only" for="Quantity-{{ section.id }}">{{ 'products.product.quantity.label' | t }}</label>
              <div class="my-2">
                <input
                  type="number"
                  name="quantity"
                  id="Quantity-{{ section.id }}"
                  value="1"
                  min="1"
                  class="border h-10 w-24"
                >
              </div>
            </div>
            <div class="w-full">
              <button
                id="bh-product__submit-button--{{ section.id }}"
                type="submit"
                name="add"
                class="bh-product__submit-button text-white text-sm uppercase cursor-pointer h-10 w-full {% if product_variant_selected.available == false %}bh-button--sold-out bg-gray-400{% else %}bh-button--add-to-cart bg-black{% endif %}"
                {% if product_variant_selected.available == false %}
                  disabled
                {% endif %}
              >
                {% if product_variant_selected.available == false %}
                  {{ 'products.product.sold_out' | t }}
                {% else %}
                  {{ 'products.product.add_to_cart' | t }}
                {% endif %}
              </button>
            </div>
          </div>

          <!-- Descpription -->
          <div class="bh-description text-sm pb-5">
            <div id="bh-truncated-description" class="bh-product__description">
              {{ product.description | truncate: 85 }}
              <a id="bh-view-more" class="view-more text-sm text-red-600 underline hover:no-underline cursor-pointer">
                View More
              </a>
            </div>
            <div id="bh-full-description" class="bh-product__description" class="my-4">
              {{ product.description }}
              <a id="bh-view-less" class="view-less text-sm text-red-600 underline hover:no-underline cursor-pointer">
                View Less
              </a>
            </div>
          </div>

          <!-- Free Shipping, Have Questions? -->
          {% render 'product-info-details' %}
        {% endform %}
      </bh-product-form>
    </div>
  </div>
</aside>

<!-- Product Tabs -->
{% if is_product_tabs %}
  <div class="bh-box--non-full">
    {%
      render 'tabs',
      tabs_id: 'bh-product-tabs'
      tabs_items: ['features', 'overview'],
      tabs_tab_id: 'bh-tab-product-'
      tabs_content_id: 'bh-content-product-'
    %}
  </div>
{% endif %}

{% if is_product_tabs == false %}
  <aside class="bh-product-no-tabs">
    <div class="bh-box--non-full py-10">
      <h3 class="px-10 pb-5">
        {{ 'products.product.tabs.features' | t }}
      </h3>
      <ul class="list-none px-10 inline-flex">
        <!-- Metafield: Power Output -->
        <li class="flex items-top-center mb-2 mr-10">
          <span class="bh-icon bh-icon--gray">
            {% render 'icon-dynamic-form' %}
          </span>
          <div class="ml-2">
            <div class="text-green-500 hidden">{{ product_metafields | json }}</div>
            {% if product_metafields.amp_power_output_channel %}
              <dt>
                <h4>{{ product_metafields.amp_power_output_channel }}</h4>
              </dt>
            {% endif %}
            <dd class="text-sm md:text-base">At 4, 6, or 8 ohms</dd>
          </div>
        </li>
        <!-- Metafield: THD -->
        <li class="flex items-top-center mb-2">
          <span class="bh-icon bh-icon--gray">
            {% render 'icon-high-res' %}
          </span>
          <div class="ml-2">
            <dt>
              <h4>
                {{ 'bha.high_res' | t }}
                {{ 'bha.amplifier' | t }}
              </h4>
            </dt>
            {% if product_metafields.amp_power_thd_n %}
              <dd class="text-sm md:text-base">
                {{ product_metafields.amp_power_thd_n }}
                <small>(-114dB)</small>
              </dd>
            {% endif %}
          </div>
        </li>
      </ul>
    </div>
  </aside>
{% endif %}

<!-- Settings: Show product video embed -->
{% if section.settings.show_video_embed %}
  <aside class="bh-product__video p-5 md:p-10 bg-gray-200">
    <div class="bh-box--non-full">
      <div class="w-full flex justify-center align-middle bh-banner--dark">
        <div class="">
          {{ section.settings.video_embed }}
        </div>
      </div>
    </div>
  </aside>
{% endif %}

<!-- Product Modal Button -->
{% comment %}
  <button data-modal-target="bh-modal__product"
        data-modal-toggle="bh-modal__product"
        class="block text-white bg-gray-700 hover:bg-gray-800 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
        type="button">
    Toggle Modal
  </button>
{% endcomment %}

<!-- Product Modal Dialog -->
<div class="bh-product__product__modal-dialog">
  <bh-product-modal>
    {% render 'modal',
      modal_instance_id: 'bh-modal__product',
      modal_heading: 'Product Details',
      modal_description: 'Product Details'
    %}
  </bh-product-modal>
</div>

<!-- bh-json__product-ui-- -->
<script type="application/ld+json" id="bh-json__product-ui__{{ section.id }}">
  {
    "@context": "http://schema.org/",
    "@type": "BhProductUiComponentsJson",
    "is_product_carousel": {{ is_product_carousel }},
    "is_product_carousel_ready": {{ is_product_carousel_ready }},
    "is_product_tabs": {{ is_product_tabs }},
    "is_product_lightbox": {{ is_product_lightbox }},
    "name": {{ product.title | json }},
    "url": {{ request.origin | append: product.url | json }}
  }
</script>

{% schema %}
{
  "name": "Main Product",
  "tag": "section",
  "class": "bh-main__page__section--full",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "Amplifier",
      "label": "Product Heading Title"
    },
    {
      "type": "checkbox",
      "id": "show_product_video",
      "default": true,
      "label": "Show product video",
      "info": "This shows the youtube demo for the product"
    },
    {
      "type": "checkbox",
      "id": "show_product_breadcrumbs",
      "default": true,
      "label": "Show product breadcrumbs",
      "info": "This shows product breadcrumbs"
    },
    {
      "type": "checkbox",
      "id": "show_video_embed",
      "default": false,
      "label": "Show video embed",
      "info": "This shows the product description video"
    },
    {
      "type": "html",
      "id": "video_embed",
      "label": "Video embed"
    }
  ]
}
{% endschema %}
