{% comment %}
   main-product.liquid
   
   renders main-product-top & main-product-bottom
{% endcomment %}
<section class="grid md:grid-cols-3 bh-main__section">
  <div class="p-5">
    <img src="{{ 'image-banner.png' | asset_img_url: 'large' }}" class="w-full h-auto" width="100%" height="100%" />

    {% comment %} 
    <img src="{{ product.featured_image.src | image_url: 'large' }}" alt="{{ product.title }}" width="" height="">
    <pre>{{ product.featured_image }}</pre> 
    {% endcomment %}
  </div>
  <div class="md:col-span-2 p-5">
    <h2 id="banner__content--header">
      <span class="bh-text--red">M87</span> Amplifier
    </h2>

    {% comment %} <p>{{ product.description }}</p> {% endcomment %}
    <h3>Buy Now</h3>
    <p>Price: {{ product.price | money }}</p>
    <!-- Add more product information here -->
    <form action="/cart/add" method="post">
      <input class="bh-input" type="hidden" name="id" value="{{ product.variants.first.id }}">
      <button class="bh-button bh-button--danger" type="submit">Add to cart</button>
    </form>
    <div class="mt-5">
      <h3>Overview</h3>
      <p>
        A custom amplifier for your custom setup that is also a cleaner sound than any other. We will work with you to get
        the look you want. You can choose your custom wood veneer, speaker grill material, and input gain sensitivity to
        match your tastes and home decor.
      </p>
    </div>
  </div>
</section>
<section class="grid md:grid-cols-3">
  <div class="md:col-span-3 p-5">
    {% render 'main-product-overview' %}
  </div>
  <div class="md:col-span-3 p-5">
    {% render 'main-product-specifications' %}
  </div>
</section>
