<!-- Scripts -->
{% comment %} <script type="module" src="{{ 'CartItems.js' | asset_url }}" defer="defer"></script>
<script type="module" src="{{ 'CartPage.js' | asset_url }}" defer="defer"></script> {% endcomment %}

{% if cart.item_count > 0 %}
  <div class="bh-cart">
    <bha-cart-items class="bh-cart__items bha-cart-items--section-{{ section.id }}">

      <div class="p-4">
        <div class="bh-box--non-full">
          <div class="flex items-end justify-between my-5">
            <h2>{{ 'sections.cart.title' | t }}</h2>
            <a href="/products/m87-amplifier" class="text-red-600 hover:text-red-700 underline hover:no-underline font-semibold">
              {{ 'general.continue_shopping' | t }}
            </a>
          </div>
        </div>
    
        <div class="flex flex-col">
          <form class="bh-box--non-full" action="{{ routes.cart_url }}" method="POST" novalidate id="cart">
            <div id="main-cart-items" class="bh-cart__items" data-id="{{ section.id }}">
              {% if cart != empty %}
                <table class="bh-cart__items__table table-auto divide-y divide-gray-200 my-4 w-full">
                  <thead>
                    <th class="px-5 py-3 text-left text-sm font-medium text-gray-500">
                      {{ 'sections.cart.headings.product' | t }}
                    </th>
                    <th class="px-5 py-3 text-left text-sm font-medium text-gray-500">
                      {{ 'sections.cart.headings.quantity' | t }}
                    </th>
                    <th class="px-5 py-3 text-left text-sm font-medium text-gray-500">
                      {{ 'sections.cart.headings.total' | t }}
                    </th>
                  </thead>
                  <tbody>
                    {% for item in cart.items %}
                      <tr class="table-row" id="bh-cart-item__tr--{{ item.index | plus: 1 }}">
                        <td class="py-4 px-2 flex flex-col justify-center">
                          
                          {% if item.image %}
                            <a href="{{ item.url }}" class="cart-item__link" aria-hidden="true" tabindex="-1"> </a>
                            <div class="bh-cart-item__img-container">
                              <img
                                src="{{ item.image | image_url: width: 300 }}"
                                class="bh-cart-item__img object-cover border"
                                alt="{{ item.image.alt | escape }}"
                                loading="lazy"
                                width="155"
                                height="{{ 155 | divided_by: item.image.aspect_ratio | ceil }}">
                            </div>
                          {% else %}
                            {{ 'product-1' | placeholder_svg_tag: 'w-32 h-32 object-cover border' }}
                        {% endif %}
                        </td>
    
                        <td class="py-4 px-2 flex flex-col justify-center">
                          <a href="{{ item.url }}" class="my-1">
                            {{ item.product.title | truncatewords: 5 }}
                          </a>
                          
                          {%- if item.product.has_only_default_variant == false or item.properties.size != 0 -%}
                            <dl class="text-sm text-gray-500 my-1">
                              <!-- Variants: Display Option Name & Value -->
                              {%- if item.product.has_only_default_variant == false -%}
                                {%- for option in item.options_with_values -%}
                                  <div class="flex">
                                    <dt>{{ option.name }}:</dt>&nbsp;
                                    <dd>{{ option.value }}</dd>
                                  </div>
                                {%- endfor -%}
                              {%- endif -%}
    
                              <!-- Item Properties: -->
                              {%- for property in item.properties -%}
                                {%- assign property_first_char = property.first | slice: 0 -%}
                                {%- if property.last != blank and property_first_char != '_' -%}
                                  <div class="product-option">
                                    <dt>{{ property.first }}:</dt>
                                    <dd>
                                      {%- if property.last contains '/uploads/' -%}
                                        <a href="{{ property.last }}" class="link" target="_blank">
                                          {{ property.last | split: '/' | last }}
                                        </a>
                                      {%- else -%}
                                        {{ property.last }}
                                      {%- endif -%}
                                    </dd>
                                  </div>
                                {%- endif -%}
                              {%- endfor -%}
                            </dl>
                          {% endif %}
                        
                          
                          <!-- Old Remove Button -->
                          <a class="text-xs text-white uppercase bg-black w-20 px-4 py-2"
                            href="{{ routes.cart_change_url }}?line={{ forloop.index }}&quantity=0">
                              {{ 'sections.cart.remove' | t }}
                          </a>
                        </td>
                        <td class="py-4 px-2">
                          <!-- Quantity Input -->
                          <input
                            class="w-20 border p-2"
                            type="number"
                            name="updates[]"
                            id="updates_{{ forloop.index }}"
                            value="{{ item.quantity }}"
                            min="0"
                            data-cart-quantity="{{ cart | item_count_for_variant: item.variant.id }}"
                            data-index="{{ item.index | plus: 1 }}"
                            data-quantity-variant-id="{{ item.variant.id }}"
                          >
                        </td>
                        <td class="py-4 px-2">
                          <!-- Sale -->
                          {% if item.original_price != item.final_price %}
                            <div class="bh-cart-item__price--regular">
                              <span class="text-red-400 hidden">
                                <code>if (item.original) item.original_price:</code>
                                {% comment %} {{ 'products.product.price.regular_price' | t }} {% endcomment %}
                              </span>
                              <s class="bh-cart-item__price--original">
                                {{ item.original_price | money }}
                              </s>
                              <span class="text-red-600 hidden">
                                <code>if (item.original) item.final_price:</code>
                                {{ 'products.product.price.sale_price' | t }}
                              </span>
                              <strong class="bh-cart-item__price--final">
                                {{ item.final_price | money }}
                              </strong>
                            </div>
                          {% else %}
                            <!--Test -->
                            <div class="text-green-600 hidden">
                              <pre>
                                item.image: {{ item.image | json }}
                                item.original_price: {{ item.original_price | json }}<br />
                                item.final_price: {{ item.final_price | json }}
                                {% comment %} item: {{ item | json }}   {% endcomment %}
                              </pre>
                            </div>
                            <div class="bh-cart-item__price--original">
                              <pre class="text-green-300 hidden">else (item.original) item.original_price:</pre>
                              {{ item.original_price | money }}
                            </div>
                          {% endif %}
    
                          {% if item.product_has_only_default_variant == false %}
                            <div class="text-green-400 hidden">
                              <pre>'item.product_has_only_default_variant': {{ item.product_has_only_default_variant | json }}</pre>
                            </div>
                          {% endif %}
    
                          {% comment %} {{ item.line_price | money }}  {% endcomment %}
                        </td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              {% endif %}
            </div>
            <div class="flex flex-col md:flex-row items-center justify-between">
              <div class="w-full my-4 md:w-72">
                <h3>
                  {{ 'sections.cart.subtotal' | t }}: {{ cart.total_price | money }}
                </h3>
    
                <small class="tax-note caption-large rte">
                  {% if cart.taxes_included and shop.shipping_policy.body != blank %}
                    {{ 'sections.cart.taxes_included_and_shipping_policy_html' | t: link: shop.shipping_policy.url }}
                  {% elsif cart.taxes_included %}
                    {{ 'sections.cart.taxes_included_but_shipping_at_checkout' | t }}
                  {% elsif shop.shipping_policy.body != blank %}
                    {{ 'sections.cart.taxes_and_shipping_policy_at_checkout_html' | t: link: shop.shipping_policy.url }}
                  {% else %}
                    {{ 'sections.cart.taxes_and_shipping_at_checkout' | t }}
                  {% endif %}
                </small>
                
                <!-- Old Update Button -->
                <div class="my-2">
                  <button type="submit" name="update" class="bh-button bh-button--md bh-button--white w-full">
                    {{ 'sections.cart.update' | t }}
                  </button>
                </div>
    
                <div class="my-2">
                  <button type="submit" name="checkout" class="bh-button bh-button--md bh-button--black w-full">
                    {{ 'sections.cart.checkout' | t }}
                  </button>
                </div>

                <!--Cart Errors -->
                <div id="cart-errors" class="hidden">
                  <div class="bh-newsletter-form__alert flex flex-col align-middle justify-center">
                    <div class="bh-newsletter-form__alert--error flex items-center max-w-md mx-auto p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50" role="alert" hidden>
                      <span class="bh-icon bh-icon--danger">
                        {% render 'icon-error' %}
                      </span>&nbsp;
                      <p class="cart-errors__text text-red-700"></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <p class="hidden"
               id="cart-live-region-text"
               aria-live="polite"
               role="status"></p>
            <p
              class="hidden"
              id="shopping-cart-line-item-status"
              aria-live="polite"
              aria-hidden="true"
              role="status"
            >
              {{ 'accessibility.loading' | t }}
            </p>
          </form>
        </div>
      </div>
    </bha-cart-items>
  </div>
{% else %}
  <div class="max-w-6xl h-60 my-4 mx-auto flex flex-col items-center justify-center">
    <div class="text-center">
      <h3 class="text-3xl my-4">
        {{ 'sections.cart.title' | t }}
      </h3>
      <p>
        {{ 'sections.cart.your_cart_is_empty' | t }}
      </p>
      <div class="my-4 py-4">
        <a href="/products/m87-amplifier" class="flex text-sm text-white uppercase bg-gray-800 px-8 py-2 hover:text-gray-100 hover:bg-black cursor-pointer">
          {{ 'general.continue_shopping' | t }}&nbsp;&nbsp;
          <span class="bh-icon fill-white w-5 h-5">
            {% render 'icon-arrow-forward' %}
          </span>&nbsp;
        </a>
      </div>
    </div>
  </div>
{% endif %}


{% schema %}
{
  "name": "t:sections.main-cart-items.name",
  "tag": "section",
  "class": "bh-main__page__section--full",
  "settings": []
}
{% endschema %}
