<script type="module" src="{{ 'cart.js' | asset_url }}" defer="defer"></script>
<script type="module" src="{{ 'quantity.js' | asset_url }}" defer="defer"></script>
<script type="module" src="{{ 'variant.js' | asset_url }}" defer="defer"></script>

{% assign product_variant_selected = product.selected_or_first_available_variant %}

<!--Product Detials -->
<script src="{{ 'product-details.js' | asset_url }}" defer="defer"></script>

<!--View More -->
<script src="{{ 'view-more.js' | asset_url }}" defer="defer"></script>

<style>
  .bh-product #bh-product-details__question-card {
    display: none;
  }

  .bh-product #bh-full-description {
    display: none;
  }
</style>
<script type="module">
  import { utils, product } from '../assets/utils.js';

  utils.logLiquidPage('MainProduct');
  // @test

  if (product && product.variants) {
    const _product = {{ product | json }};
    const _productVariants = {{ product.variants | json }};

    product.setProduct(_product);
    product.setVariants(_productVariants);
  }
</script>

<aside class="bh-product bg-gray-300 p-5 md:p-10">
  <!-- Breadcrumbs -->
  {% if section.settings.show_product_breadcrumbs %}
  <div class="bh-product__box bh-box--non-full">
    <nav class="flex" aria-label="Breadcrumb">
      <ol class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse">
        <li>
          <div class="flex items-center">
            <a href="{{ routes.root_url }}" class="ms-1 text-sm font-medium text-gray-700">
              Home
            </a>
          </div>
        </li>
        <li>
          <div class="flex items-center">
            {% render 'icon-nav-arrow' %}
        
            <a href="{{routes.collections_url}}/{{ product.collections.first.handle }}"
              class="ms-1 text-sm font-medium text-gray-700">
              Amplifiers
            </a>
          </div>
        </li>
        <li aria-current="page">
          <div class="flex items-center">
            {% render 'icon-nav-arrow' %}
            <span class="ms-1 text-sm font-medium text-gray-400">
              {% comment %} <span class="md:block">{{ page_title }}</span> {% endcomment %}
              <span class="text-xs md:text-sm">{{ page_title | truncate: 21 }}</span>
            </span>
          </div>
        </li>
      </ol>
    </nav>
  </div>
  {% endif %}

  <!-- Product -->
  <div id="bh-product" class="bh-box--non-full flex flex-col md:flex-row space-y-4 md:space-x-4 md:space-y-0">
    <div class="md:w-3/5 bg-gray-300">
      <div id="bh-product__img" class="bh-product__img w-full">
        <!-- Flowbite -->
        {% render 'main-product-flowbite' %}
      </div>
    </div>
    <div class="md:w-2/5 bg-white border border-gray-200 rounded-lg shadow p-4">
      <!-- New -->
      {% form 'product', product %}
        <!-- This is important in order for quantity to add to cart, i.e., this is the input hidden field with value set to variant Id -->
        <input type="hidden" name="id" class="h-10" value="{{ product_variant_selected.id }}" >
        
        <!-- Product Title -->
        <div class="">
          <h3 class="">{{ product.title }}</h3>
        </div>

         <!-- Product Price, Sale -->
        <div class="my-4">
          <span class="text-base text-gray-500 line-through">
            {{ product_variant_selected.compare_at_price | money }}
          </span>
          <span class="text-lg text-gray-900">
            {{ product_variant_selected.price | money }}
          </span>

          {% if product_variant_selected.price < product_variant_selected.compare_at_price  %}
            <span class="px-5 py-1 text-sm font-bold bg-red-600 rounded-full text-white">
              {{ 'products.product.price.sale' | t }}
            </span>
          {% endif %}
        </div>

        <!-- Variants -->
        <div class="">
          {% unless product.has_only_default_variant %}
            <div data-url="{{ product.url}}" data-section="{{ section.id }}">
              {% for option in product.options_with_values %}
                <label for="Option-{{ section.id }}-{{ forloop.index0 }}">{{ option.name }}</label>
                <div class="">
                  <select class="h-10 w-full" name="options[{{ option.name | escape }}]" id="Option-{{ section.id }}-{{ forloop.index0 }}" class="w-full border py-3 px-3">
                    {% for value in option.values %}
                        <option value="{{ value | escape }}"
                          {% if option.selected_value == value %}
                              selected="selected"
                          {% endif %}>
                          {{ value }}
                        </option>
                    {% endfor %}
                  </select>
                </div>
              {% endfor %}
            </div>
          {% endunless %}
        </div>

        <!--Quantity, Add to Cart -->
        <div class="flex flex-row w-full space-x-2 space-y-2 pb-3">
          <div class="">
            <label class="sr-only" for="Quantity-{{ section.id }}">{{ 'products.product.quantity.label' | t }}</label>
            <div class="my-2">
              <input type="number" name="quantity" id="Quantity-{{ section.id }}" value="1" min="1" class="border h-10 w-24">
            </div>
          </div>
          <div class="w-full">
            <button type="submit" name="add" class="bg-black text-white text-sm uppercase cursor-pointer h-10 w-full"
              {% if product_variant_selected == false %}
                disabled
              {% endif %}
            >
              {% if product_variant_selected == false %}
                {{ 'products.product.sold_out' | t }}
              {% else %}
                {{ 'products.product.add_to_cart' | t }}
              {% endif %}
            </button>
          </div>
        </div>

        <!--Descpription -->
        <div class="bh-description text-sm pb-5">
          <div id="bh-truncated-description" class="bh-product__description" class="">
            {{ product.description | truncate: 85 }}
            <span id="bh-view-more" class="view-more text-red-600 underline hover:no-underline cursor-pointer">View More</span>
          </div>
          <div id="bh-full-description" class="bh-product__description" class="my-4">
            {{ product.description }}
            <span id="bh-view-less" class="view-less text-red-600 underline hover:no-underline cursor-pointer">View Less</span>
          </div>
        </div>

        <!-- Horizontal border -->
        <div class="border-b border-gray-300"></div>

        <!-- Delivery, Questions -->
        <div id="bh-product-details" class="bh-product-details">
          <div class="bh-product-delivery-questions__buttons">
            <div class="flex flex-row text-sm pt-2">
              <div class="w-full">
                <div class="flex flex-row justify-center items-center">
                  <div class="w-8 h-8 me-1 bg-gray-500 rounded-full">
                    <span class="bh-icon bh-icon--white w-auto">
                      {% render'icon-package' %}
                    </span>
                  </div>
                  <span class="text-xs text-gray-500 font-semibold">
                    Free Delivery
                  </span>
                </div>
              </div>
    
               <!-- Vertical border -->
              <div class="border-r border-gray-300 h-8"></div>
    
              <div class="w-full">
                <div class="flex flex-row justify-center items-center">
                  <div class="w-8 h-8 me-1 bg-gray-500 rounded-full font-semibold">
                    <span class="bh-icon bh-icon--white w-auto">
                      {% render 'icon-support' %}
                    </span>
                  </div>
                  <a id="bh-product-details__questions-link" class="text-gray-500 text-xs hover:text-red-600 font-semibold underline cursor-pointer">
                    Have Questions?
                  </a>
                </div>
              </div>
            </div>
          </div>

          <div id="bh-product-details__question-card" class="bh-product-details__question-card pt-3">
            {% render 'main-product-questions' %}
          </div>
        </div>
      {% endform %}
    </div>
  </div>
</aside>

<aside class="p-5 md:p-10 h-auto">
  <div class="bh-box--non-full">
    <!-- New -->
    <div class="mb-4 border-b border-gray-200">
      <ul
        class="flex flex-wrap -mb-px text-sm font-medium text-center"
        id="default-styled-tab"
        data-tabs-toggle="#default-styled-tab-content"
        data-tabs-active-classes="text-red-600 hover:text-red-600 dark:text-red-500 dark:hover:text-red-500 border-red-600 dark:border-red-500"
        data-tabs-inactive-classes="dark:border-transparent text-gray-500 hover:text-gray-600 dark:text-gray-400 border-gray-100 hover:border-gray-300 dark:border-gray-700 dark:hover:text-gray-300"
        role="tablist"
      >
        <li class="me-2" role="presentation">
          <button
            class="text-md md:text-lg font-semibold inline-block p-4 border-b-2 rounded-t-lg"
            id="profile-styled-tab"
            data-tabs-target="#styled-features"
            type="button"
            role="tab"
            aria-controls="features"
            aria-selected="false"
          >
            Features
          </button>
        </li>
        <li class="me-2" role="presentation">
          <button
            class="text-md md:text-lg font-semibold inline-block p-4 border-b-2 rounded-t-lg"
            id="profile-styled-tab"
            data-tabs-target="#styled-overview"
            type="button"
            role="tab"
            aria-controls="overview"
            aria-selected="false"
          >
            Overview
          </button>
        </li>
        <li class="me-2" role="presentation">
          <button
            class="text-md md:text-lg font-semibold inline-block p-4 border-b-2 border-red-600 rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300"
            id="dashboard-styled-tab"
            data-tabs-target="#styled-specifications"
            type="button"
            role="tab"
            aria-controls="specifications"
            aria-selected="false"
          >
            Specifications
          </button>
        </li>
        <li class="me-2" role="presentation">
          <button
            class="text-md md:text-lg font-semibold inline-block p-4 border-b-2 rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300"
            id="dashboard-styled-tab"
            data-tabs-target="#styled-design"
            type="button"
            role="tab"
            aria-controls="design"
            aria-selected="false"
          >
            Design
          </button>
        </li>
        <li class="me-2" role="presentation">
          <button
            class="text-md md:text-lg font-semibold inline-block p-4 border-b-2 rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300"
            id="dashboard-styled-tab"
            data-tabs-target="#styled-performance"
            type="button"
            role="tab"
            aria-controls="design"
            aria-selected="false"
          >
            Performance
          </button>
        </li>
      </ul>
    </div>
    <div id="default-tab-content">
      <div
        class="hidden p-4 rounded-lg bg-white"
        id="styled-features"
        role="tabpanel"
        aria-labelledby="features-tab"
      >
        {% render 'main-product-features' %}
      </div>
      <div
        class="hidden p-4 rounded-lg bg-white"
        id="styled-overview"
        role="tabpanel"
        aria-labelledby="overview-tab"
      >
        {% render 'main-product-overview' %}
      </div>
      <div
        class="hidden p-4 rounded-lg bg-white"
        id="styled-specifications"
        role="tabpanel"
        aria-labelledby="specifications-tab"
      >
        {% render 'main-product-specifications' %}
      </div>
      <div
        class="hidden p-4 rounded-lg bg-white"
        id="styled-design"
        role="tabpanel"
        aria-labelledby="design-tab"
      >
        {% render 'main-product-design' %}
      </div>
      <div
        class="hidden p-4 rounded-lg bg-white"
        id="styled-performance"
        role="tabpanel"
        aria-labelledby="performance-tab"
      >
        {% render 'main-product-performance' %}
      </div>
    </div>
  </div>
</aside>

{% if section.settings.show_product_video %}
<aside class="bh-product__video p-5 md:p-10 bg-gray-200">
  <div class="bh-box--non-full">
  {% render 'main-product-video' %}
  </div>
</aside>
{% endif %}

{% schema %}
{
  "name": "Main Product",
  "tag": "section",
  "class": "bh-main__page__section--full",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "Amplifier",
      "label": "Product Heading Title"
    },
    {
      "type": "checkbox",
      "id": "show_product_video",
      "default": true,
      "label": "Show product video",
      "info": "This shows the youtube demo for the product"
    },
    {
      "type": "checkbox",
      "id": "show_product_breadcrumbs",
      "default": true,
      "label": "Show product breadcrumbs",
      "info": "This shows product breadcrumbs"
    }
  ]
}
{% endschema %}
